.animation {
  &-outer-wrapper {
    max-height: 300px;
  }

  &-inner-wrapper {
    width: 1000px;
  }

  &-frame {
    height: 493px;
    width: 1000px;
    background: url("../public/images/e30m3/css_sprites.png");
    animation: sprite 2s steps(8) infinite;
    transform: scale(1);
  }
}

@media only screen and (max-width: 1023px) {
  .animation {
    &-outer-wrapper {
      max-height: 200px;
    }

    &-inner-wrapper {
      width: 600px;
    }

    &-frame {
      transform: scale(0.6);
      transform-origin: left;
    }
  }
}

@media only screen and (max-width: 767px) {
  .animation {
    &-inner-wrapper {
      width: 300px;
    }

    &-frame {
      transform: scale(0.3);
    }
  }
}

@keyframes sprite {
  to { background-position: -8000px; }
}
